@font-face {
	font-family: 'Geometria';
	src: url('../fonts/geometria.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/geometria.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/geometria.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/geometria.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/geometria.svg#geometria') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Geometria-Bold';
	src: url('../fonts/geometria-bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/geometria-bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/geometria-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/geometria-bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/geometria-bold.svg#geometria-bold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Geometria-ExtraBold';
	src: url('../fonts/geometria-extrabold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-extrabold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/geometria-extrabold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/geometria-extrabold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/geometria-extrabold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/geometria-extrabold.svg#geometria-extrabold') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Geometria-ExtraLight';
	src: url('../fonts/geometria-extralight.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-extralight.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/geometria-extralight.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/geometria-extralight.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/geometria-extralight.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/geometria-extralight.svg#geometria-extralight') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Geometria-Heavy';
	src: url('../fonts/geometria-heavy.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-heavy.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/geometria-heavy.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/geometria-heavy.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/geometria-heavy.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/geometria-heavy.svg#geometria-heavy') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Geometria-Light';
	src: url('../fonts/geometria-light.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/geometria-light.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/geometria-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/geometria-light.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/geometria-light.svg#geometria-light') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Geometria-Medium';
	src: url('../fonts/geometria-medium.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/geometria-medium.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/geometria-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/geometria-medium.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/geometria-medium.svg#geometria-medium') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
	font-family: 'Geometria-Thin';
	src: url('../fonts/geometria-thin.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/geometria-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/geometria-thin.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/geometria-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/geometria-thin.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/geometria-thin.svg#geometria-thin') format('svg'); /* Chrome < 4, Legacy iOS */
}

